<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qunar.im">

    <application>
        <activity
            android:name="com.qunar.im.ui.activity.ShareWorkWorldRouteActivity"
            android:hardwareAccelerated="true"
            android:label="发送到驼圈"
            android:launchMode="singleTask"
            android:multiprocess="false"
            android:screenOrientation="portrait"
            android:taskAffinity="com.qunar.im_share"
            tools:node="merge"
            android:windowSoftInputMode="adjustPan">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="image/*" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="video/*" />
            </intent-filter>

        </activity>
    </application>
</manifest>
